@import "../../../Styles/StyleSheets/breakpoints.less";

// home styles
.home-filters {
	.temporal-filter {
		position: relative;

		.ant-select-selection-item,
		.ant-select-selection-placeholder {
			line-height: 52px;
		}

		.ant-btn {
			position: absolute;
			top: calc(100% + 8px);
			left: 0;
			height: 27px;
		}

		.ant-select {
			width: 100%;

			&.ant-select-focused {
				.ant-select-selector {
					box-shadow: none;
				}
			}
		}

		.ant-select-selector,
		.ant-picker {
			height: 100%;
			width: 100%;
			border: none;


			&.ant-picker-focused {
				box-shadow: none;

				.ant-picker-active-bar {
					display: none;
				}
			}
		}
	}
}

.temporal-filter {
	.btn-search-seasons {
		width: 100%;

		&:hover {
			background: transparent;
			border-color: transparent;
		}
	}
}

@media @screen-lg {
	.home-filters {
		.temporal-filter {
			border-right: none;
			margin-bottom: 25px;
			height: 100%;

			.ant-select-selection-item,
			.ant-select-selection-placeholder {
				line-height: 50px;
			}

			.ant-btn {
				top: calc(100% + 4px);
				text-align: left;
			}
		}
	}
}
