@import "../../../Styles/StyleSheets/breakpoints.less";

.link-boxes {
	.link-box {
		@media @screen-lg {
			display: inline;
			* {
				display: inline;
				&.anticon {
					vertical-align: -webkit-baseline-middle;
				}
			}
		}
	}
}
