.notification-list {
	.ant-list-header {
		.ant-row {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.userbox-mobile {
	.notification-list {
		.ant-list-header,
		.ant-list-footer {
			padding-left: 0;
			padding-right: 0;
			border: none;
		}
		.ant-list-header {
			.ant-row {
				justify-content: flex-end;
				.ant-col {
					&:first-child {
						display: none;
					}
				}
			}
		}

		.ant-list-item {
			padding-left: 0;
			padding-right: 0;
			&:last-child {
				border-bottom: none !important;
			}
		}
	}
}
