.featured-agents {

	&.featured-agents-skeleton {
		border: none;
		box-shadow: none;
	}

	.featured-agent {
		display: flex !important;
		align-items: center;
		justify-content: center;
		height: 70px;
		margin: 0px auto;

		&.featured-agent-skeleton {
			padding: 0 !important;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

		img {
			height: 100%;
			width: 100%;
			margin: 0 auto;
			object-fit: contain;
		}

		.ant-skeleton-element {
			width: 100%;
			height: 100%;

			.ant-skeleton-image {
				width: 100%;
				height: 100%;
			}
		}
	}
}
