@import "../../../Styles/StyleSheets/breakpoints.less";

.temporary-rental .ant-row {
	flex-wrap: nowrap;
	align-items: baseline;
	margin: 0;
	.dots {
		border-bottom: 1px solid #ededed;
	}
	.ant-typography.small {
		font-size: 11px;
	}
	@media screen and (min-width: @breakpoint-lg) {
		.title {
			max-width: 200px;
		}
	}
}
