@import "../../Styles/StyleSheets/breakpoints.less";

.property-detail {
	.container.pd-container {
		max-width: 960px;
		margin: auto;
	}

	.pd-property-cover-col {
		.container {
			@media @screen-lg {
				width: 100%;
			}
		}
	}

	.pd-main-top,
	.pd-main-content,
	.pd-main-top-row {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;

		.pd-navigation-col {
			display: flex;
			-webkit-box-pack: center;
			justify-content: center;
			overflow-x: hidden;
			margin-top: 6px;
		}

		.pd-property-cover-col {
			padding: 0 !important;
		}
	}

	.container {
		&.pd-ir-container-big {
			@media @screen-lg {
				width: 100%;
			}
		}
	}
}
