.col-information-request-small-left .property-information-request.TABKEY_LEADFORM .ant-form label,
.col-information-request-small-left .property-information-request.TABKEY_SCHEDULEVISITFORM .ant-form label {
	font-size: 14px;
}

.property-information-request {
	.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
		&::before {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: -2px;
			left: 0;
			background: white;
		}
	}
}

.property-information-request {
	.ant-form-item-has-feedback {
		.ant-input {
			padding-right: 30px;
		}
	}

	.ant-form-item-has-success.ant-form-item-has-feedback {
		.ant-form-item-children-icon {
			width: 35px;
		}
	}

	.ant-tabs-nav {
		&::before {
			border-bottom: none;
		}

		.ant-tabs-nav-wrap {
			overflow: visible;
		}

		.ant-tabs-tab {
			&.ant-tabs-tab-active {
				position: relative;
				border-bottom-color: transparent;
			}
		}
	}

	.ant-form-item-control-input {
		min-height: auto;
	}

	.visit-type-radio {
		width: 100%;

		.ant-radio-button-wrapper {
			width: 50%;
			text-align: center;
		}
	}

	textarea {
		min-height: 189px;
	}

	.ant-input,
	.btn-send-lead {
		width: 100%;
	}

	.ant-form-item-label>label {
		height: auto;
	}

	.information-request-disclaimer {
		font-size: 12px;
		padding-top: 0px !important;
		padding-bottom: 0px !important;

		div.ant-typography {
			line-height: 1.6;
		}
	}
}

.note-popover {
	max-width: 270px;
}
