@import "../../../Styles/StyleSheets//breakpoints.less";
.property-card {
	.favorite-button {
		font-size: 15px;
		width: auto;
		padding: 0px;
		height: auto;
		line-height: 0;
		min-height: 30px;
		min-width: 30px;
		border: none;
		background: none;

		.anticon:not(.anticon-loading) {
			line-height: 0;
			font-size: 27px;
		}

		.anticon-loading {
			padding-right: 0;
			font-size: 20px;
			color: white;
		}
	}
}

.property-detail,
.pd-property-modal {
	.favorite-button {
		@media @screen-lg {
			padding: 0;
			width: auto;
			height: auto;
			line-height: 0;
			border: none;
			background: none;
			box-shadow: none;

			span:not(.anticon):not(.ant-btn-loading-icon) {
				display: none;
			}

			.anticon:not(.anticon-loading) {
				line-height: 0;
				font-size: 27px;
			}
			.anticon-loading {
				padding-right: 0;
				font-size: 20px;
				color: white;
			}
		}
	}
}
