@import "../../../Styles/StyleSheets/breakpoints.less";

.property_details_cover {
	box-sizing: border-box;
	position: relative;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	height: 500px;
	// max-height: calc(100vh - 230px);
	// min-height: 300px;
	max-height: calc(100vh - 275px);
	min-height: 400px;
	overflow: hidden;

	@media @screen-lg {
		max-height: calc(100vh - 320px);
	}

	@media @screen-sm {
		height: 275px;
		min-height: 275px;
	}

	.cover-gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 40%);
		z-index: 1;
		cursor: pointer;
	}

	.top-buttons {
		z-index: 1;
		position: absolute;
		width: 100%;
		flex-wrap: nowrap;
	}

	.bottom-tags {
		position: absolute;
		z-index: 1;
		bottom: 0;
		width: 100%;
		flex-direction: row-reverse;
	}

	.property-cover-gallery {
		height: 100%;
		flex-wrap: nowrap;
		transition: all ease 300ms;
		cursor: pointer;

		.ant-col {
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.left .ant-row {
			height: 100%;
		}

		.ant-skeleton-element {
			width: 100%;
			height: 100%;
			.ant-skeleton-image {
				width: 100%;
				height: 100%;
			}
		}
	}

	&:hover {
		.property-cover-gallery {
			transform: scale(1.05);
		}
	}
}
