@import "../../../Styles/StyleSheets/breakpoints.less";

.banner-sub-home {
	overflow: hidden;
	position: relative;

	@media @screen-xl {
		.slick-dots {
			bottom: -15px;

			li.slick-active {
				height: 15px;
				width: 15px;

				button {
					height: 100%;
				}
			}

			li {
				height: 12px;
				width: 12px;
				margin-right: 10px;
				margin-left: 10px;

				button:focus {
					opacity: 1
				}

				button {
					height: 100%;
					opacity: 1;
				}
			}
		}
	}

	.slick-list {
		margin: 0px -15px;

		@media @screen-xl {
			margin: 0px -7px;
		}

		.destacado {
			padding-bottom: 100%;
			display: inline-block;
			overflow: hidden;
			opacity: 0;
			position: relative;

			@media @screen-md {
				box-shadow: rgba(0, 0, 0, 0.4) 0px 38px 20px -32px;
				margin-bottom: 35px;
			}

			.image-container {
				position: absolute;
				width: 100%;
				height: 100%;

				img {
					transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top center;
				}
			}

			&:hover {
				.image-container {
					img {
						transform: scale(1.08);
					}
				}
			}
		}
	}
}
