@import "../../../Styles/StyleSheets/breakpoints.less";

.home-filters {
	.property-type-filter {
		position: relative;

		.property-type-skeleton {
			width: 100%;
			height: 100%;

			.ant-skeleton-button {
				width: 100%;
				height: 100%;
			}
		}

		.ant-select {
			height: 100%;

			.ant-select-selector {
				height: 100%;
				border: none;
				display: inline-block;
				align-items: center;
				white-space: nowrap;
				overflow: hidden;
				position: relative;
				padding-right: 24px;
				padding-left: 8px;
				width: 100%;
				line-height: 48px;
				cursor: pointer;

				.ant-select-selection-search {
					display: none;
				}

				.ant-select-selection-item {
					padding: 0;
					display: inline;
					background: none;
					border: none;
					margin-right: 0px;

					.ant-select-selection-item-remove {
						display: none;
					}

					.ant-select-selection-item-content {
						display: inline;
						margin-right: 0px;
					}

					&:not(:first-child)::before {
						content: ", ";
					}
				}
			}
		}
	}
}

@media @screen-lg {
	.home-filters {
		.property-type-filter {
			border-right: none;

			.ant-select {
				.ant-select-selector {
					line-height: 48px;
				}
			}
		}
	}
}
