@import "../../../Styles/StyleSheets/breakpoints.less";
.similar-modal {
	@media @screen-md {
		width: 100vw !important;
		max-width: 100vw !important;
		margin: 0 !important;
		top: 0;
		padding: 0;
		.ant-modal-content {
			border-radius: 0;
			.ant-modal-body {
				padding: 0;
				.similar-modal-container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					box-sizing: border-box;
					padding: 16px;
					overflow-y: auto;
					overflow-x: hidden;
				}
			}
		}
	}
}

@media screen and (min-width: @breakpoint-md) {
	.similar-modal-container {
		height: auto !important;
	}
}
